<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://kit.fontawesome.com/a3b1a978c0.js" crossorigin="anonymous"></script>
	<title>Footer</title>
</head>
<body>
	<footer>
		<footer>
			<div class="footer-container">
				<div class="footer-main">
	
				<div class="footer-columna">
						<h3>Contactános</h3>
						<a href="tel:+2235946709">📞 (+54)2235946709</a>
					</div>
					<div class="footer-columna">
						<h3>Dirección</h3>
						<p>Callao N°1200 (Bs.As)</p>
					</div>
					<div class="footer-columna">
						<h3>E-mail</h3>
						<i><a href="mailto:tecno-sale@hotmail.com"> 📧 tecno-sale@hotmail.com</a></i>
					</div>
				 </div>
		</div>
		<div class="footer-copy-redes">
				<div class="main-copy-redes">
					<div class="footer-copy">
						&copy; 2021, Todos los derechos reservados - | Tecno-Sale |.
					</div>
					<div class="footer-redes">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-youtube-play"></a>
						<a href="#" class="fa fa-instagram"></a>
					</div>
				</div>
			</div>
		</footer>
	</div>
	</section>
</main>
</footer>
</body>
</html>
