<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Error Page</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
				 <div class="mb-4 lead">¡Lo sentimos! Pero en esta pagina no se encuentra con un contenido disponible. ¡No llores, hay esperanza!, prueba con el siguiente enlace:</div>
                <a href="http://localhost:3000/products" class="btn btn-link">Regresa a nuestra Pagina</a>
            </div>
        </div>
    </div>
</div>
</head>
<body>
    <img src="/images/404-error.jpeg" alt="icono error 404" width="300px" class="404-image">
</body>
</html>
